
.container-2{
    width: 99vw;
    height: auto;
    background-image: url(https://images.unsplash.com/photo-1579546928686-286c9fbde1ec?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjB8fGZvbmRvJTIwYWJzdHJhY3RvfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 100px;
}

#imagen-princ{
    margin-top: 50px;
    margin-left: 350px;
    margin-bottom: 50px;
    width: 1130px;
    height: auto;
    border-radius: 20px;
}

.animate__animated.animate__jello {
    --animate-duration: 7s;
}

.titulos-form{
    padding-left: 450px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 20%;
}

.titulo{
    color:  rgba(18, 111, 125, 0.944);
}

.titulo-colores1{
    font-size: 40px;
    color: rgb(209, 86, 115);
    margin-bottom: 40px;
}

.container-form{
    padding-left: 450px;
}

.form{
    padding-left: 300px;
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.form-group {
    margin-bottom: 1rem; 
}

.btn-vista1{
    color:rgba(29, 10, 10, 0.685);
    font-weight: bold;
    font-size: 20px;
    font-family:cursive;
    background-color: rgb(209, 86, 115);
    margin-top: 50px;
    margin-left: 12px;
    margin-bottom: 50px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 7px rgb(216, 89, 169);
}

.btn-vista1:hover {
    background-color: #e631e6;
}

